@using MyArmoryLibrary.Models;

@{
    // page title
    ViewBag.Title = "Characters";
    
    // base template
    Layout = "~/Views/Template.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>All characters</h2>
        <ul>

            @foreach (Character character in ViewBag.characters)
            {
                <li>@character</li>
            }

        </ul>
    </div>
</div>
